.App {
  text-align: center;
}

body{
  background-color: black;
}

.Container h2{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 40px;
  font-weight: 700;
}

table{
  color: white;
  border: 2px solid white;
}

.tbody td{
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
}

.thead th{
  width: max-content;
  border-bottom: 2px solid white;
}